[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket
Requires=docker.socket
Requires=flannel.service
After=flannel.service

[Service]
Type=notify
EnvironmentFile=/run/docker_opts.env
ExecStart=/bin/docker daemon -H fd:// -s overlay $DOCKER_OPTS
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
