apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-proxy
    image: gcr.io/google_containers/hyperkube:v1.0.6
    command:
    - /hyperkube
    - proxy
    - --master=https://{{ cluster_hostname }}
    - --kubeconfig=/opt/everstring/kubernetes/etc/worker-kubeconfig.yaml
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /opt/everstring/kubernetes
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: /etc/ssl
      name: ssl-certs-host
      readOnly: true
    - mountPath: /etc/pki
      name: pki-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: /opt/everstring/kubernetes
    name: ssl-certs-kubernetes
  - hostPath:
      path: /etc/ssl
    name: ssl-certs-host
  - hostPath:
      path: /etc/pki
    name: pki-certs-host
