apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: gcr.io/google_containers/hyperkube:v1.0.6
    command:
    - /hyperkube
    - controller-manager
    - --master=https://127.0.0.1
    - --kubeconfig=/opt/everstring/kubernetes/etc/worker-kubeconfig.yaml
    - --service-account-private-key-file=/opt/everstring/kubernetes/ssl/apiserver-key.pem
    - --root-ca-file=/opt/everstring/kubernetes/ssl/ca.pem
    - --cloud-provider=aws
    livenessProbe:
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10252
      initialDelaySeconds: 15
      timeoutSeconds: 1
    volumeMounts:
    - mountPath: /opt/everstring/kubernetes
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: /etc/ssl
      name: ssl-certs-host
      readOnly: true
    - mountPath: /etc/pki
      name: pki-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: /opt/everstring/kubernetes
    name: ssl-certs-kubernetes
  - hostPath:
      path: /etc/ssl
    name: ssl-certs-host
  - hostPath:
      path: /etc/pki
    name: pki-certs-host
